#root {
	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem;
}

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	background-color: aliceblue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.add-button {
	background-image: url('./assets/plus.svg') no-repeat center cover;
	border: 0px solid;
	border-radius: 30%;
	padding: 5px;
	cursor: pointer;
}

.card-container {
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	border-radius: 2%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	background-color: #fff;
}

.upvote-list {
	border: 0px;
}
