/* Global */
#root {
	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem;
	--bg-color: #f4f6f8;
	--bg-color-card: #fff;
}

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--bg-color);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

/* Main card container  */
.card-container {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	width: 350px;
	height: auto;
	border: 1px solid var(--bg-color-card);
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	background-color: var(--bg-color-card);
}

/* Row of votes plus button container*/
.row-container {
	display: flex;
	flex-direction: row;
	justify-content: start;
	margin: 5px;
}

/* Votes list container */
.votes-list {
	display: flex;
	border: 1px solid #e0e0e0;
	gap: 1px;
	width: 200px;
	height: auto;
	border-radius: 7px;
	flex-wrap: wrap;
	align-items: center;
	margin: 5px;
	flex-grow: 1;
}
